html,body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 218, 218);
}

#root{
    width: 60%;
    margin: inherit;
    border: inherit;
}

.main-area{
    position: relative;
    height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    border-radius: 1.5%;
    box-shadow: 0px 0px 80px -50px;
}

.main-heading{
    width: 100%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;
    font-weight: 100;
    justify-content: start;
    
}
.main-heading > h1{
    margin-left: 1vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    
}

.overview{
    align-items: stretch;
    justify-content: space-between;
    overflow: auto;
    height: 50%;
    display: flex;
    /* outline: 1px solid purple; */
    /* border-top : 5px solid black;
    border-top-style: inset; */
}

.chart-area{
    margin-top: 1vh;
    margin-left: 1.4vw;
    display: flex;
    width: 50%;
    height: 75%;
    align-items: stretch;
    border-radius: 1vw;
    background-color: rgb(255,255,255);
    align-content: center;
    padding: 2vw;
    box-shadow: 0px 0px 0px 0px white;  
    transition: 0.2s all ease;
    margin-bottom: 2vh;
    outline: 4px solid rgb(205, 205, 205);
    
}


.chart-area:hover{
    background-color: rgb(241, 241, 241);
    width: 50%;
    box-shadow: 15px 15px 0px 0px rgb(212, 211, 111);
    
    transform: translateX(-8px);
    transform: translateY(-2px);
    outline: 4px solid rgb(255, 252, 54);
}



.overview-card{
    /* background-color: rgb(241, 241, 241); */
    background-color: rgb(242, 242, 242);
    margin-right: 1.5vw;
    margin-left: 2vw ;
    margin-top: 1vh;
    
    width: 100%;
    height: 89%;
    outline: 4px solid rgb(205, 205, 205);
    border-radius: 1vw;
    transition: 0.2s all ease;
    
    
}

.overview-card:hover{
    /* background-color: rgb(241, 241, 241); */
    background-color: rgb(242, 242, 242);
    width: 100%;
    box-shadow: 15px 15px 0px 0px rgb(203, 201, 109);
    outline: 4px solid rgb(255, 251, 0);
    
    transform: translateY(-2px);
}





