html,
body {
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 0;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
   
}

.login-area {
    display: flex;
    justify-self: center;
    height: 100%;
    
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
}

.card {

    padding: 4vw;
    width: 30%;
    align-self: center;

    transition: 8s all ease;

}

.card:hover {
    background-color: white;
    box-shadow: 0px 0px 100vh 100vh rgb(227, 255, 185);
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;

}

input {

    border: none;
    background-color: rgb(232, 232, 232);
    outline: 0px solid white;
    padding: 0.5rem;
    margin-bottom: 1vh;
    transition: 0.1s all ease;

}

.email-input:hover {
    outline: 2px solid rgb(156, 255, 7);
}

.password-input:hover {
    outline: 2px solid rgb(156, 255, 7);
}

.btn {
    display: flex;
    justify-content: space-between;
}

.btn > button {
    border: none;
    outline: 0px solid white;
    color: rgb(0, 0, 0);
    background-color: rgb(232, 232, 232);
    padding: 0.5em;
    margin-top: 0.3em;
    transition: 0.1s all ease;
}

.btn > button:hover {
    outline: 2px solid rgb(156, 255, 7);
}